# Ejercicio 1

Escribir un programa que solicite un número y calcule el cuadrado de ese número.
- Si el cuadrado es 100 o mayor, imprima el valor al cuadrado y la palabra 'grande'.
- Si el cuadrado está entre 50 y 99, imprima el valor al cuadrado y la palabra 'medio'.
- De lo contrario, simplemente imprima 'demasiado pequeño para molestarlo'.

In [1]:
x = input("Ingrese un numero: ")
cuadrado = pow(x, 2)
if(cuadrado >= 100):
    print(cuadrado, "grande") 
elif((cuadrado >= 50) and (cuadrado <= 99)):
    print(cuadrado, "medio")
else:
    print("demasiado pequeño para molestarlo")

Ingrese un numero: 12
(144, 'grande')

# Ejercicio 2

A continuación se muestra el código que crea una lista de cuatro elementos, representados como diccionarios que especifican el color y tamaño.

items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},{'color':'green', 'size':15}, {'color':'yellow', 'size':6}]


Añadir código para pedir un número, luego imprimir el color de todos elementos cuyo tamaño es mayor que ese número.

In [2]:
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},{'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
x = input("Ingrese un numero: ")
for i in items:
    if(i['size'] > x):
        print(i['color'])

Ingrese un numero: 3
red
green
yellow

# Ejercicio 3

Crear un bucle que solicite dos números, e imprima los colores de todos los elementos cuyo tamaño está entre los dos números, es decir, cuyo tamaño es mayor que el primer número e inferior al segundo número.

Si el segundo número del usuario es igual o menor que el primer número, el programa debe imprimir 'Hecho' y detenerse.

In [3]:
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},{'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
fin = 0
while(fin == 0):
    x = input("Ingrese numero 1: ")
    y = input("Ingrese numero 2: ")
    if(y <= x):
        print("Hecho")
        fin=1
    else:
        for i in items:
            if((i['size'] > x) and (i['size'] < y)):
                print(i['color'])

Ingrese numero 1: 1
Ingrese numero 2: 5
blue
Ingrese numero 1: 2
Ingrese numero 2: 9
blue
yellow
Ingrese numero 1: 1
Ingrese numero 2: 23
red
blue
green
yellow
Ingrese numero 1: 12
Ingrese numero 2: 2
Hecho

# Ejercicio 4 - [usar Dataframe]

In [4]:
import pandas as pd

In [5]:
# Para compatibilidad entre múltiples plataformas
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### 1.- Leer el archivo Countries.csv en un dataframe.

In [6]:
f = open('Laboratorio1\Countries.csv','rU')
countries = pd.read_csv(f)
countries

                   country coastline  highest   EU
0                  Albania       yes     2764   no
1                  Andorra        no     2942   no
2                  Austria        no     3798  yes
3                  Belarus        no      345   no
4                  Belgium       yes      694  yes
5   Bosnia and Herzegovina        no     2386   no
6                 Bulgaria       yes     2925  yes
7                  Croatia       yes     1831  yes
8                   Cyprus       yes     1952  yes
9           Czech Republic        no     1603  yes
10                 Denmark       yes      171  yes
11                 Estonia       yes      318  yes
12                 Finland       yes     1324  yes
13                  France       yes     4810  yes
14                 Germany       yes     2962  yes
15                  Greece       yes     2919  yes
16                 Hungary        no     1014  yes
17                 Iceland       yes     2110   no
18                 Ireland       yes     1041  yes
19                   Italy       yes     4810  yes
20                  Kosovo        no     2656   no
21                  Latvia       yes      311  yes
22           Liechtenstein        no     2599   no
23               Lithuania       yes      294  yes
24              Luxembourg        no      560  yes
25               Macedonia        no     2764   no
26                 Moldova        no      430   no
27              Montenegro       yes     2534   no
28             Netherlands       yes      321  yes
29                  Norway       yes     2469   no
30                  Poland       yes     2499  yes
31                Portugal       yes     1993  yes
32                 Romania       yes     2544  yes
33                  Serbia        no     2169   no
34                Slovakia        no     2655  yes
35                Slovenia       yes     2864  yes
36                   Spain       yes     3479  yes
37                  Sweden       yes     2104  yes
38             Switzerland        no     4634   no
39                  Turkey       yes     5137   no
40                 Ukraine       yes     2061   no
41          United Kingdom       yes     1344  yes

### 2.- Imprimir una lista de los países que no tienen linea costerá y no estan en la EU, junto con sus puntos más altos, ordene de menor a mayor sus puntos más altos.

In [7]:
countries[(countries.coastline == 'no') & (countries.EU == 'no')][['country', 'highest']].sort_values(by='highest',ascending=True)

                   country  highest
3                  Belarus      345
26                 Moldova      430
33                  Serbia     2169
5   Bosnia and Herzegovina     2386
22           Liechtenstein     2599
20                  Kosovo     2656
25               Macedonia     2764
1                  Andorra     2942
38             Switzerland     4634

# Ejercicio 5 - [usar Dataframe]

### 1.- Encontrar el punto medio, máximo y mínimo más alto [highest] de los países en la UE y no en la UE.

In [8]:
print "El punto minimo es: ", min(countries[(countries.EU == 'yes')]['highest'])
print "El punto maximo es: ", max(countries[(countries.EU == 'yes')]['highest'])
print "El punto medio es: ", countries[(countries.EU == 'yes')]['highest'].median()

El punto minimo es:  171
El punto maximo es:  4810
El punto medio es:  1952.0

In [9]:
print "el punto minimo es: ", min(countries[(countries.EU == 'no')]['highest'])
print "el punto maximo es: ", max(countries[(countries.EU == 'no')]['highest'])
print "el punto medio es: ", countries[(countries.EU == 'no')]['highest'].median()

el punto minimo es:  345
el punto maximo es:  5137
el punto medio es:  2534.0

### 2.- Encontrar el punto medio, máximo y mínimo más alto [higest] de los países con y sin línea costera.

In [10]:
print "El punto minimo es: ", min(countries[(countries.coastline == 'yes')]['highest'])
print "El punto maximo es: ", max(countries[(countries.coastline == 'yes')]['highest'])
print "El punto medio es: ", countries[(countries.coastline == 'yes')]['highest'].median()

El punto minimo es:  171
El punto maximo es:  5137
El punto medio es:  2107.0

In [11]:
print "El punto minimo es: ", min(countries[(countries.coastline == 'no')]['highest'])
print "El punto maximo es: ", max(countries[(countries.coastline == 'no')]['highest'])
print "El punto medio es: ", countries[(countries.coastline == 'no')]['highest'].median()

El punto minimo es:  345
El punto maximo es:  4634
El punto medio es:  2492.5

# Ejercicio 6 - [usar Dataframe]

#### 1.- Leer los jugadores y equipos en dataframes [Players.csv] y [Teams.csv].

In [12]:
p = open('Laboratorio1/Players.csv','rU')
players = pd.read_csv(p)
players

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
5,Djebbour,Algeria,forward,123,3,19,1,0
6,Ghezzal,Algeria,forward,40,3,8,0,0
7,Guedioura,Algeria,midfielder,38,0,18,1,0
8,Halliche,Algeria,defender,270,2,94,4,0
9,Kadir,Algeria,midfielder,262,0,104,3,0
10,Lacen,Algeria,midfielder,270,0,158,8,0
11,M'Bolhi,Algeria,goalkeeper,180,0,30,0,12
12,Matmour,Algeria,midfielder,255,3,68,3,0
13,Mesbah,Algeria,midfielder,1,0,1,0,0
14,Saifi,Algeria,forward,15,1,3,0,0
15,Yahia,Algeria,defender,269,1,79,4,0
16,Yebda,Algeria,midfielder,269,8,138,10,0
17,Ziani,Algeria,midfielder,240,5,93,6,0
18,Aguero,Argentina,forward,106,2,57,2,0
19,Bolatti,Argentina,midfielder,98,2,97,4,0
20,Burdisso,Argentina,defender,341,1,167,1,0
21,Demichelis,Argentina,defender,450,1,218,7,0
22,Di Maria,Argentina,midfielder,356,7,148,12,0
23,Gutierrez,Argentina,midfielder,191,0,83,11,0
24,Heinze,Argentina,defender,360,3,188,6,0
25,Higuain,Argentina,forward,341,13,93,5,0
26,Mascherano,Argentina,midfielder,360,0,237,19,0
27,Maxi Rodriguez,Argentina,midfielder,346,2,218,9,0
28,Messi,Argentina,forward,450,21,321,10,0
29,Milito,Argentina,forward,91,0,33,0,0
...,...,...,...,...,...,...,...,...
565,Goduen,Uruguay,defender,315,1,120,9,0
566,Gonzalez,Uruguay,midfielder,63,0,34,2,0
567,Lodeiro,Uruguay,midfielder,109,0,37,1,0
568,Lugano,Uruguay,defender,398,2,67,6,0
569,Maxi Pereira,Uruguay,midfielder,570,5,182,15,0
570,Muslera,Uruguay,goalkeeper,570,0,75,0,16
571,Perez,Uruguay,midfielder,567,2,252,34,0
572,Scotti,Uruguay,defender,95,0,22,5,0
573,Suarez,Uruguay,forward,452,19,127,4,0
574,Victorino,Uruguay,defender,435,0,141,7,0
575,Alvaro Pereira,Uruguay,midfielder,409,6,140,17,0
576,Beasley,USA,midfielder,10,0,4,0,0
577,Bocanegra,USA,defender,390,1,130,9,0
578,Bornstein,USA,defender,200,2,72,5,0
579,Bradley,USA,midfielder,390,6,210,9,0
580,Buddle,USA,forward,39,1,12,0,0
581,Cherundolo,USA,defender,390,1,180,10,0
582,Clark,USA,midfielder,121,0,42,4,0
583,Demerit,USA,defender,390,2,129,7,0
584,Dempsey,USA,midfielder,390,15,137,6,0
585,Donovan,USA,forward,390,7,165,9,0
586,Edu,USA,midfielder,198,2,116,4,0
587,Feilhaber,USA,midfielder,165,3,71,5,0
588,Findley,USA,forward,167,1,40,0,0
589,Gomez,USA,forward,85,4,18,0,0
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [13]:
t = open('Laboratorio1/Teams.csv','rU')
teams = pd.read_csv(t)
teams

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0
5,Germany,6,6,4,0,2,13,3,8,1
6,Argentina,7,5,4,0,1,10,6,7,0
7,England,8,4,1,2,1,3,5,6,0
8,France,9,3,0,1,2,1,4,6,1
9,Greece,13,3,1,0,2,2,5,5,0
10,USA,14,4,1,2,1,5,5,9,0
11,Serbia,15,3,1,0,2,2,3,8,1
12,Uruguay,16,6,3,2,1,9,5,8,2
13,Mexico,17,4,1,1,2,4,5,9,0
14,Chile,18,4,2,0,2,3,5,13,1
15,Cameroon,19,3,0,0,3,2,5,5,0
16,Australia,20,3,1,1,1,3,6,7,2
17,Nigeria,21,3,0,1,2,3,5,5,1
18,Switzerland,24,3,1,1,1,1,1,8,1
19,Slovenia,25,3,1,1,1,3,3,9,0
20,Ivory Coast,27,3,1,1,1,4,3,5,0
21,Algeria,30,3,0,1,2,0,2,4,2
22,Paraguay,31,5,1,3,1,3,2,9,0
23,Ghana,32,5,2,2,1,5,4,11,0
24,Slovakia,34,4,1,1,2,5,7,11,0
25,Denmark,36,3,1,0,2,3,6,6,0
26,Honduras,38,3,0,1,2,0,3,7,0
27,Japan,45,4,2,1,1,4,2,7,0
28,South Korea,47,4,1,1,2,6,8,6,0
29,New Zealand,78,3,0,3,0,2,2,6,0
30,South Africa,83,3,1,1,1,3,5,4,1
31,North Korea,105,3,0,0,3,1,12,2,0

#### 2.- Qué jugador en un equipo con "ou" en el nombre, jugó mas de 190 minutos e hizo más de 100 pases? Imprima el apellido del jugador.

In [16]:
for index, row in players.iterrows():
    if(("ou" in row.team) and (row.minutes > 190) and (row.passes > 100)):
        print row.surname

Masilela
Modise
Pienaar
Tshabalala
Cha Du-Ri
Cho Yong-Hyung
Ki Sung-Yong
Kim Jung-Woo
Lee Chung-Yong
Lee Jung-Soo
Lee Young-Pyo
Park Ji-Sung

#### 3.- ¿Cuál es el promedio, máximo y mínimo de pases de los defensas y delanteros?

In [17]:
print "minimo de pases de los defensas: ", min(players[players.position == "defender"]['passes'])
print "maximo de pases de los defensas: ", max(players[players.position == "defender"]['passes'])
print "promedio de pases de los defensas: ", players[players.position == "defender"]['passes'].mean()

minimo de pases de los defensas:  0
maximo de pases de los defensas:  402
promedio de pases de los defensas:  102.6436170212766

In [18]:
print "minimo de pases de los delanteros: ", min(players[players.position == "forward"]['passes'])
print "maximo de pases de los delanteros: ", max(players[players.position == "forward"]['passes'])
print "promedio de pases de los delanteros: ", players[players.position == "forward"]['passes'].mean()

minimo de pases de los delanteros:  0
maximo de pases de los delanteros:  321
promedio de pases de los delanteros:  50.82517482517483

#### 4.- ¿Qué equipo tiene el mayor ratio de 'goalsFor' y 'goalsAgainst'? Imprimir sólo el nombre del equipo.

In [19]:
ratioMayor = 0
ind = 0
for index, row in teams.iterrows():
    ratio = row.goalsFor / row.goalsAgainst
    if(ratio > ratioMayor):
        ratioMayor = ratio
        ind = index

print("El equipo con el ratio mayor es: ", teams['team'].iloc[ind])

('El equipo con el ratio mayor es: ', 'Portugal')

#### 5.- ¿Cuántos jugadores que juegan en un equipo con ranking <5 jugaron más de 400 minutos?

In [20]:
playersTeams = pd.merge(players, teams, on = 'team')
playersTeams[(playersTeams.ranking < 5) & (playersTeams.minutes > 400)]['surname'].count()

26

#### 6.- Calcule por cada equipo la diferencia entre el jugador que da menos pases con el que da más pases. (use función groupby, agg con función lambda)

In [21]:
groupPT = playersTeams.groupby('team')
groupPT['passes'].agg(lambda x: max(x) - min(x))

team
Algeria         157
Argentina       313
Australia       146
Brazil          298
Cameroon        161
Chile           180
Denmark         174
England         225
France          118
Germany         418
Ghana           303
Greece          149
Honduras         85
Italy           200
Ivory Coast     195
Japan           147
Mexico          245
Netherlands     295
New Zealand     119
Nigeria          95
North Korea     117
Paraguay        211
Portugal        166
Serbia          162
Slovakia        202
Slovenia        159
South Africa    130
South Korea     184
Spain           562
Switzerland     138
USA             208
Uruguay         251
Name: passes, dtype: int64

# Ejercicio 7  - [usar Dataframe]

Escribir un bucle que interactivamente le pide al usuario que introduzca un nombre de equipo.
- Si el equipo existe, liste todos los jugadores de ese equipo (con toda su información), ordenados por minutos descendentes.
- Si el equipo no existe, imprima "Este equipo no clasifico al mundial".
- Si se ingresa 'salir', termine el loop.

In [22]:
fin = 0
while(fin == 0):
    aux = 0
    equipo = raw_input("Ingrese nombre de un equipo: ")
    if(equipo == "salir"): 
        fin = 1
    else:
        for nombre, datos in groupPT:
            if(equipo == nombre):
                aux = 1
                print datos[['surname', 'team', 'position', 'minutes', 'shots', 'passes', 'tackles', 'saves']]
        if(aux == 0): print("Este equipo no clasifico al mundial")

Ingrese nombre de un equipo: Chile
        surname   team    position  minutes  shots  passes  tackles  saves
96   Beausejour  Chile  midfielder      360      2     100        7      0
97        Bravo  Chile  goalkeeper      360      0      58        0      4
98      Carmona  Chile  midfielder      270      1     175        9      0
99    Contreras  Chile    defender       54      0      17        1      0
100     Estrada  Chile  midfielder       37      1      16        2      0
101   Fernandez  Chile  midfielder      155      1      72        2      0
102     Fuentes  Chile    defender       90      0      27        3      0
103    Gonzalez  Chile  midfielder      138     10      41        6      0
104        Isla  Chile    defender      332      1     123       10      0
105        Jara  Chile    defender      308      1     187        8      0
106       Medel  Chile    defender      270      1     123        7      0
107      Millar  Chile  midfielder      125      1      80        3      0
108    Orellana  Chile     forward       25      1       7        0      0
109     Paredes  Chile     forward       70      3      11        5      0
110       Ponce  Chile    defender      270      2     113        4      0
111       Suazo  Chile     forward      135      4      39        1      0
112     Sanchez  Chile     forward      335      7     113       13      0
113       Tello  Chile  midfielder       45      0      29        1      0
114    Valdivia  Chile     forward      222      3      91        3      0
115       Vidal  Chile    defender      306      6     178       17      0
Ingrese nombre de un equipo: salir